@import url("https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&display=swap");
.ff_k2d {
  font-family: "K2D", "sans serif";
}
.ff_Oswald {
  font-family: "Oswald", "sans serif";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.common_button_border {
  background: radial-gradient(
      120.14% 119.17% at 93.56% 8%,
      #00e0f7 0%,
      #8b00bd 72.13%
    ),
    #fff;
  box-shadow: 0px 0px 6px 0px rgba(118, 35, 198, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-size: 104% 108%;
  background-position-x: -1px;
  background-position-y: -1px;
}
.common_button {
  border-radius: 110px;
  background: radial-gradient(
      120.14% 119.17% at 93.56% 8%,
      #00e0f7 0%,
      #8b00bd 72.13%
    ),
    #fff;
  background-size: 100%;

  transition: background-size 400ms linear;
}
.common_button:hover {
  background-size: 200%;
}
.common_circle {
  fill: radial-gradient(
    120.14% 119.17% at 93.56% 8%,
    #00e0f7 0%,
    #8b00bd 93.65%
  );
  opacity: 0.56;
  filter: blur(50px);
}
.blur_left_circle {
  opacity: 0.12 !important;
  background: radial-gradient(
    120.14% 119.17% at 93.56% 8%,
    #00e0f7 0%,
    #8b00bd 93.65%
  ) !important;
  filter: blur(100px) !important;
}
.blur_right_circle {
  background: radial-gradient(
    120.14% 119.17% at 93.56% 8%,
    #00e0f7 0%,
    #8b00bd 93.65%
  );
  filter: blur(100px);
}
.mobile_blur_ellip {
  background: radial-gradient(
    120.14% 119.17% at 93.56% 8%,
    #00e0f7 0%,
    #8b00bd 93.65%
  ) !important;
  opacity: 0.56 !important;
  filter: blur(50px) !important;
}
.gallery_blur_circle {
    opacity: 0.4 !important;
    background: radial-gradient(
      120.14% 119.17% at 93.56% 8%,
      #00e0f7 0%,
      #8b00bd 93.65%
    );
    filter: blur(100px);
  }

@media (min-width: 1024px) {
  .nav_bg {
    background: rgba(255, 255, 255, 0.06);
  }
}
.tab_border.active::after {
    content: "";
    position: absolute;
     bottom: 0;
    display: block;
    height: 3px;
    border-radius: 10px;
    width: 100%;
    background: radial-gradient(120.14% 119.17% at 93.56% 58%, rgba(0, 224, 247, 0.80) 0%, #8B00BD 88.12%);
  }


  /* kapil css */

  .bg_our_mission {
    background-image: url("./assets/images/png/Mesa\ de\ trabajo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer_bg_img {
    background-image: url("./assets/images/webp/Asset-1mdpi-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .border_color {
    border-color: rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
  }
  .border_redefining {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
  }
  .Our_community {
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
  }
  .bottom_line::after {
    content: "";
    width: 201px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 65px;
    border-radius: 10.5px 10.5px 0px 0px;
    background: linear-gradient(176deg, #3ad0f3 -163.94%, #8c01be 130.09%);
  }
  .cricale_card::before {
    content: "";
    position: absolute;
    border-radius: 354px;
    opacity: 0.3;
    z-index: -1;
    width: 294px;
    height: 354px;
    bottom: 0;
    background: radial-gradient(
      120.14% 119.17% at 93.56% 8%,
      #00e0f7 0%,
      #8b00bd 93.65%
    );
    filter: blur(100px);
  }
  .Arrow_button:hover .next_button {
    opacity: 0%;
    transition: all 250ms linear;
  }
  .Arrow_button:hover .next_button_two {
    opacity: 100%;
    transition: all 250ms linear;
  }
  .Arrow_button .next_button_two {
    opacity: 0%;
    transition: all 250ms linear;
  }
  .Arrow_button.next_button {
    opacity: 100%;
    transition: all 250ms linear;
  }
  .blur_our_mission {
    background: radial-gradient(
      120.14% 119.17% at 93.56% 8%,
      #00e0f7 0%,
      #8b00bd 93.65%
    );
    filter: blur(100px);
  }
  .filter_blur {
    filter: blur(367.30413818359375px);
  }
  .Community_owned_card {
    border: solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
  }
  .Community_owned_card::after {
    content: "";
    position: absolute;
    background: radial-gradient(
      92.75% 92% at 93.56% 8%,
      #00e0f7 0%,
      #8b00bd 93.65%
    );
    filter: blur(76.12359619140625px);
    opacity: 0.4;
    top: -13px;
    width: 253px;
    left: -53px;
    z-index: -1;
    height: 138px;
  }
  .Community_owned_card::before {
    left: 27px;
    content: "";
    position: absolute;
    width: 199px;
    height: 5px;
    border-radius: 10.5px 10.5px 0px 0px;
    background: linear-gradient(176.26deg, #3ad0f3 -163.94%, #8c01be 130.09%);
    bottom: 0;
  }
  
.card_date {
  border-radius: 0px 50px 50px 0px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(20px);
}
.card_date_2 {
  background: rgba(255, 255, 255, 0.02);
}
.card_date_3 {
  background: rgba(255, 255, 255, 0.02);
}

  @media (max-width: 576.98px) {
    .Community_owned_card::after {
      width: 0px;
      height: 0px;
    }
  }

